<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">

            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>

            <Authorizing>
                <p>Authorizing...</p>
            </Authorizing>

        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p>Page not found</p>
        </LayoutView>
    </NotFound>
</Router>

@* <Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
      
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>

            <Authorizing>
                <p>Authorizing</p>
            </Authorizing>

        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router> *@


