@using SOS.Status.Web.Client.Dtos
@using SOS.Status.Web.Client.Helpers

@if (ProcessStatus is not null && DataProviderStatuses is not null)
{
    <MudText Class="mt-3" Typo="Typo.h5">@ProcessStatus.Name @(ActiveInstance ? "(Active)" : "")</MudText>
    <ul class="ml-8">
        <li><MudText>Start: @ProcessStatus.Start</MudText></li>
        <li><MudText>End: @ProcessStatus.End</MudText></li>
        <li><MudText>Time: @DateTimeHelper.FormatTimeSpan(ProcessStatus.End - ProcessStatus.Start)</MudText></li>
        <li><MudText>Status: Success</MudText></li>
    </ul>

    <MudTable Class="mt-2" Items="@DataProviderStatuses" T="DataProviderStatusDto" Hover="true" Bordered="false" Striped="true" Dense="true">
        <HeaderContent>        
            <MudTh>Harvest Status</MudTh>
            <MudTh>Id</MudTh>
            <MudTh>Dataset</MudTh>
            <MudTh>#Public</MudTh>
            <MudTh>#Protected</MudTh>
            <MudTh>#Invalid</MudTh>        
            <MudTh>Process Time</MudTh>        
            <MudTh>Harvest time</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd><MudIcon Icon="@Icons.Material.Filled.Circle" Style="@GetProcessStatusCircleStyle(context.HarvestStatusActive)" /> @context.HarvestStatusActive</MudTd>
            <MudTd>@context.Id</MudTd>
            <MudTd>@context.Identifier</MudTd>
            <MudTd>@(ActiveInstance ? context.PublicActive.ToString("N0", new CultureInfo("sv-SE")) : context.PublicInactive.ToString("N0", new CultureInfo("sv-SE")))</MudTd>
            <MudTd>@(ActiveInstance ? context.ProtectedActive.ToString("N0", new CultureInfo("sv-SE")) : context.ProtectedInactive.ToString("N0", new CultureInfo("sv-SE")))</MudTd >
            <MudTd>@(ActiveInstance? context.InvalidActive.ToString("N0", new CultureInfo("sv-SE")) : context.InvalidInactive.ToString("N0", new CultureInfo("sv-SE")))</MudTd>
            <MudTd>@(DateTimeHelper.FormatTimeSpan(ActiveInstance? context.ProcessTimeActive : context.ProcessTimeInactive))</MudTd>
            <MudTd>@(DateTimeHelper.FormatTimeSpan(ActiveInstance ? context.HarvestTimeActive : context.HarvestTimeInactive))</MudTd>
        </RowTemplate>
    </MudTable>
}
else
{
    <MudText color="Color.Secondary">Loading data...</MudText>
}